name: CI/CD Pipeline

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  hello:
    name: Hello jobs
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello"

BE-build-test-package:
    name: BE Build & Test & Package
    runs-on: ubuntu-latest
 <TODO service container>

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and test with Maven
        run: mvn -B package --file pom.xml -Dquarkus.datasource.reactive.url=vertx-reactive:postgresql://localhost:5432/measdb
        working-directory: backend
